{% extends "base.html" %}


{% block styles %}

{{ super() }}
<style type="text/css">
  #signinButton {
    text-align: center;
    margin-top: 200px;
  }
</style>

{% endblock %}

{% block page_content %}
<!-- <div class="page-header">
  <h3>Login In</h3>
</div> -->

<div id="signinButton">
  <span class="g-signin"
      data-scope="https://www.googleapis.com/auth/userinfo.email"
      data-clientid={{ client_id }}
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
</div>
<div id="result"></div>




{% endblock %}


{% block scripts %}
{{ super() }}
<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized, for example:
      $('#signinButton').attr('style', 'display: none');

      // Send the code to the server
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{state}}&next={{next}}',
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
        // Handle or verify the server response.
          if (result) {
            window.location.href = result;

          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call.');
          }
        },
        processData: false,
        data: authResult['code']
      });
    } else {
      $('#result').html('Failed to connect to Google Oauth server.');
    }
  }
</script>
{% endblock %}
