{% extends "base.html" %}

{% block styles %}
{{ super() }}

<style type="text/css">
  {% if not current_user.is_authenticated() %}
  .add_btn, .category_ops {
    display: none;
  }
  {% endif %}

  .category_ops {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 15px;
  }

</style>

{% endblock %}


{% block page_content %}

<div class="col-md-4" id="categories">
  <div class="panel">
    <div class="list-group">

      {% for category in categories %}

      <a class="list-group-item list-group-item-success">
        <span class="badge">{{ category.items.count() }}</span>
        <span class="category_name">{{ category.name }}</span>
      </a>

      <div class="category_ops" style="display:none;">
        <a href="{{ url_for('main.edit_category', category_name=category.name) }}" class="btn btn-warning btn-xs">Edit</a>
        <a href="{{ url_for('main.delete_category', category_name=category.name) }}" class="btn btn-danger btn-xs">Delete</a>
      </div>

      {% endfor %}

    </div>
  </div>

  <div class="add_btn">
    <a href="{{ url_for('main.add_category') }}" class="btn btn-primary">Add Category</a>
  </div>
  
</div>

<div class="col-md-8" id="items">
  <div class="error_msg"></div>
  <div class="panel panel-default">
    <div class="list-group"></div>
  </div> 

  <div class="add_btn"></div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $("#categories .list-group .list-group-item").click(function() {
    var name = $(this).find(".category_name").text();
    $("#items .add_btn").html(
      "<a href=\"{{ url_for('main.add_item') }}?category_name=" + name + "\" class='btn btn-primary'>Add Item</a>"
    );
    
    $(this).siblings(".category_ops").hide();
    $(this).next().css("display", "block").hide().fadeIn("fast");

    $(this).siblings().removeClass("active");
    $(this).addClass("active");
    
    $.ajax('/' + name, {
      data: name,
      dataType: 'json'
    }).done(function (data) {
      console.log(data);
      items = data.items;
      var i;
      $("#items .list-group").empty();

      if (items.length == 0) {
        $("#items > .panel").hide();
        $("#items .error_msg").html(
          "<div class='alert alert-warning fade in'>\
            <button type='button' class='close' aria-label='Close'>\
            <span aria-hidden='true' data-dismiss='alert'>&times;</button>\
            There is no item under this category.</div>"
        ).fadeTo(1000, 500).slideUp(500, function(){
            $(".error_msg").alert('close');
        });
      } else {
        $("#items .error_msg").empty();
        $("#items > .panel").show();
        for (i = 0; i < items.length; i++) {
          $("#items .list-group").append(
            $("<div></div>").addClass('list-group-item panel panel-success').attr('id', 'item_' + items[i].id)
            .append($('<div></div>').addClass('panel-heading').html(items[i].name))
            .append(
                $('<div></div>').addClass('wrapper')
                .append(
                  $('<div></div>').addClass('description panel-body').html(items[i].description))
                .append(
                  {% if current_user.is_authenticated() %}
                  $('<div></div>').attr('id', 'operations')
                  .append(
                    $('<a></a>').attr('href', '/' + name + '/' + items[i].name + '/edit').addClass('btn btn-warning btn-xs').text('Edit'))
                  .append(    
                    $('<a></a>').attr('href', '/' + name + '/' + items[i].name + '/delete').addClass('btn btn-danger btn-xs').text('Delete')
                  )
                  {% endif %}
                )
            )
          );
        }
        $(".wrapper").hide();
      }
    }).fail(function () {
      $("#items > .panel").hide();
      $("#items .error_msg").html(
        "<div class='alert alert-warning fade in'>\
          <button type='button' class='close' aria-label='Close'>\
          <span aria-hidden='true' data-dismiss='alert'>&times;</button>\
          Connection failed.</div>"
      );

    });
    
  });

  $("#items .list-group").on("mouseenter", ".list-group-item", 
    function() {
      $(this).find(".wrapper").fadeIn("slow");
  });
  $("#items .list-group").on("mouseleave", ".list-group-item", 
    function() {
      $(this).find(".wrapper").hide();
  });

  // $(".category_ops").hide();



 // $("#items .list-group").on("mouseenter", ".list-group-item", 
 //    function() {
 //      $(this).find(".wrapper").fadeIn("slow");
 //  });
 //  $("#items .list-group").on("mouseleave", ".list-group-item", 
 //    function() {
 //      $(this).find(".wrapper").hide();
 //  });

</script>

{% endblock %}