{% extends "base.html" %}

{% block styles %}
{{ super() }}

<style type="text/css">
  {% if not current_user.is_authenticated() %}
  .add_btn {
    display: none;
  }
  {% endif %}

  .panel > .panel-heading {
     background-color: #DCF3D6;
  }

  .panel-body > .item_ops {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .panel-body > .item_img {
    display: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .item_img > img {
    width: 300px;
  }


  .category_ops {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
  }
</style>

{% endblock %}


{% block page_content %}

<div class="col-md-4" id="categories">
  <div class="panel">
    <div class="list-group">

      {% for category in categories %}

      <a class="list-group-item list-group-item-success">
        <span class="badge">{{ category.items.count() }}</span>
        <span class="category_name">{{ category.name }}</span>
      </a>

      <div class="category_ops" style="display:none;">
        <a href="{{ url_for('main.edit_category', category_name=category.name) }}" class="btn btn-warning btn-xs">Edit</a>
        <a href="{{ url_for('main.delete_category', category_name=category.name) }}" class="btn btn-danger btn-xs">Delete</a>
      </div>

      {% endfor %}

    </div>
  </div>

  <div class="add_btn">
    <a href="{{ url_for('main.add_category') }}" class="btn btn-primary">Add Category</a>
  </div>
  
</div>

<div class="col-md-8" id="items">


  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <!--   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
            Collapsible Group Item #1
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">

          <div class="item_img">
            <img src='http://flask.pocoo.org/docs/0.10/_static/flask.png'  alt='image' />
          </div>

          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


          <div class='item_ops'>
            <a href="#" class="btn btn-info btn-xs" onclick="showImage()">Info</a>
            <a href="#" class="btn btn-warning btn-xs">Edit</a>
            <a href="#" class="btn btn-danger btn-xs">Delete</a>
          </div>
          
        </div>
      </div>
    </div> -->

  </div>


<div class="add_btn"></div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $("#categories .list-group .list-group-item").click(function() {
    var name = $(this).find(".category_name").text();
    $("#items .add_btn").html(
      "<a href=\"{{ url_for('main.add_item') }}?category_name=" + name + "\" class='btn btn-primary'>Add Item</a>"
    );

    $(".panel-group").empty();
    
    {% if current_user.is_authenticated() %}
    $(this).siblings(".category_ops").hide();
    $(this).next().css("display", "block").hide().fadeIn("fast");
    {% endif %}

    $(this).siblings().removeClass("active");
    $(this).addClass("active");
    
    $.ajax('/' + name, {
      data: name,
      dataType: 'json'
    }).done(function (data) {
      console.log(data);
      items = data.items;
      console.log(items);
      var i;
      $("#items .list-group").empty();

      if (items.length == 0) {
        $("#items .error_msg").html(
          "<div class='alert alert-warning fade in'>\
            <button type='button' class='close' aria-label='Close'>\
            <span aria-hidden='true' data-dismiss='alert'>&times;</button>\
            There is no item under this category.</div>"
        ).fadeTo(1000, 500).slideUp(500, function(){
            $(".error_msg").alert('close');
        });
      } else {

        var i;
        for (i = 0; i < items.length; i++) {
          console.log(items[i]);
          groupItem = "<div class='panel panel-default'>\
              <div class='panel-heading' role='tab' id='heading_" + items[i].name + "'>\
                <h4 class='panel-title'>\
                  <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion'\
                  href='#collapse_" + items[i].name + "' aria-expanded='false' aria-controls='collapse_" + items[i].name + "'>"
                  + items[i].name +
                  "</a>\
                </h4>\
              </div>\
              <div id='collapse_" + items[i].name + "' class='panel-collapse collapse' role='tabpanel'\
              aria-labelledby='heading_"+ items[i].name + "'>\
                <div class='panel-body'>\
                  <div class='item_img'>\
                    <img src='" + items[i].img_url + "'  alt='image' />\
                  </div>"
                  + items[i].description +
                  "<div class='item_ops'>\
                    <a href='#' class='btn btn-info btn-xs' onclick='showImage()'>Pic</a>\
                    <a href='/items/" + items[i].name + "/edit' class='btn btn-warning btn-xs'>Edit</a>\
                    <a href='/items/" + items[i].name + "/delete' class='btn btn-danger btn-xs'>Delete</a>\
                  </div>"
                "</div>\
              </div>\
            </div>";


          $('.panel-group').append(groupItem);

          if (items[i].img_url == null) {
            $('#collapse_' + items[i].name + ' .item_img').empty();
            $('#collapse_' + items[i].name + ' .btn-info').remove();
          }


        }
       

      }
    }).fail(function () {
      $("#items .error_msg").html(
        "<div class='alert alert-warning fade in'>\
          <button type='button' class='close' aria-label='Close'>\
          <span aria-hidden='true' data-dismiss='alert'>&times;</button>\
          Connection failed.</div>"
      );

    });
    
  });


  function showImage() {
    $("#items .item_img").fadeToggle();
  }


</script>

{% endblock %}