{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
  {% if not current_user.is_authenticated() %}
  .add_btn, .item_ops {
    display: none;
  }
  {% endif %}
</style>
{% endblock %}


{% block page_content %}
<div class="col-md-4" id="categories">
  <div class="panel">
    <div class="list-group">

      {% for category in categories %}

      <a class="list-group-item list-group-item-success">
        <span class="badge">{{ category.items.count() }}</span>
        <span class="category_name">{{ category.name }}</span>
      </a>

      <div class="category_ops" style="display:none;">
        <a href="{{ url_for('main.edit_category', category_name=category.name) }}" class="btn btn-warning btn-xs">Edit</a>
        <a href="{{ url_for('main.delete_category', category_name=category.name) }}" class="btn btn-danger btn-xs">Delete</a>
      </div>

      {% endfor %}

    </div>
  </div>

  <div class="add_btn">
    <a href="{{ url_for('main.add_category') }}" class="btn btn-primary">Add Category</a>
  </div>
  
</div>

<div class="col-md-8" id="items">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  </div>

<div class="add_btn"></div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $("#categories .list-group .list-group-item").click(function() {
    var name = $(this).find(".category_name").text();
    $("#items .add_btn").html(
      "<a href=\"{{ url_for('main.add_item') }}?category_name=" + name + "\" class='btn btn-primary'>Add Item</a>"
    );

    $(".panel-group").empty();
    
    {% if current_user.is_authenticated() %}
    $(this).siblings(".category_ops").hide();
    $(this).next().css("display", "block").hide().fadeIn("fast");
    {% endif %}

    $(this).siblings().removeClass("active");
    $(this).addClass("active");
    
    $.ajax('/api/categories/by_name/' + name + '/items/', {
      data: name,
      dataType: 'json'
    }).done(function (data) {
      items = data.items;
      
      $("#items .list-group").empty();

      if (items.length == 0) {
        $("#items .error_msg").html(
          "<div class='alert alert-warning fade in'>\
            <button type='button' class='close' aria-label='Close'>\
            <span aria-hidden='true' data-dismiss='alert'>&times;</button>\
            There is no item under this category.</div>"
        ).fadeTo(1000, 500).slideUp(500, function(){
            $(".error_msg").alert('close');
        });
      } else {

        var i;
        for (i = 0; i < items.length; i++) {
          groupItem = 
            "<div class='panel panel-default'>\
              <div class='panel-heading' role='tab' id='heading_" + items[i].id + "'>\
                <h4 class='panel-title'>\
                  <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion'\
                  href='#collapse_" + items[i].id + "' aria-expanded='false' aria-controls='collapse_" + items[i].id + "'>"
                  + items[i].name +
                  "</a>\
                </h4>\
              </div>\
              <div id='collapse_" + items[i].id + "' class='panel-collapse collapse' role='tabpanel'\
              aria-labelledby='heading_"+ items[i].id + "'>\
                <div class='panel-body'>\
                  <div class='item_img'>\
                  </div>"
                  + items[i].description +
                  "<div class='item_ops'>\
                    <a href='#' class='btn btn-info btn-xs' onclick='showImage()'>Pic</a>\
                    <a href='/items/" + items[i].name + "/edit' class='btn btn-warning btn-xs'>Edit</a>\
                    <a href='/items/" + items[i].name + "/delete' class='btn btn-danger btn-xs'>Delete</a>\
                  </div>\
                </div>\
              </div>\
            </div>";


          $('.panel-group').append(groupItem);

          if (items[i].img_url == null) {
            $('#collapse_' + items[i].id + ' .btn-info').remove();
          } else {
            $('#collapse_' + items[i].id + ' .item_img').html("<img src="+ items[i].img_url + ">");
          }
          
        }
      }
    }).fail(function () {
      $("#items .error_msg").html(
        "<div class='alert alert-warning fade in'>\
          <button type='button' class='close' aria-label='Close'>\
          <span aria-hidden='true' data-dismiss='alert'>&times;</button>\
          Connection failed.</div>"
      );
    });
  });

  function showImage() {
    $("#items .item_img").fadeToggle();
  }
</script>
{% endblock %}